.header {
  display: flex;
  justify-content: center;
}

.cartLogo {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  @media (max-width: 550px) {
    width: 20px;
    height: 20px;
  }
}

.cart {
  position: relative;
  margin-left: 5px;
  margin-top: 15px;
  @media (max-width: 550px) {
    font-size: medium;
  }
}

.clear_cart {
  position: relative;
  color: rgba(85, 85, 85, 0.477);
  left: 175px;
  cursor: pointer;
  margin-top: 15px;
  @media (max-width: 550px) {
    font-size: medium;
    left: 125px;
  }
}

.clear_cart:active {
  transform: scale(0.95);
}

.container {
  position: relative;
  display: block;
  justify-content: center;
  margin-top: 20px;
  @media (max-width: 550px) {
    left: 30px;
    width: 250px;
  }
}

.buttons {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button_1 {
  position: relative;
  color: #888888;
  font-size: 15px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
  border-color: #c2e254;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 12px;
  right: 100px;
  @media (max-width: 550px) {
    margin-left: 30px;
    font-size: 10px;
  }
}

.button_1:active {
  transform: scale(0.95);
}

.button_2 {
  position: relative;
  background: #c2e254;
  color: #000000;
  font-size: 15px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
  border-color: #c2e254;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 12px;
  left: 140px;
  @media (max-width: 550px) {
    font-size: 10px;
    left: 60px;
  }
}

.button_2:active {
  transform: scale(0.95);
}

.count_price {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  @media (max-width: 550px) {
    font-size: medium;
    right: 90px;
  }
}

.count_item {
  position: relative;
  right: 55px;
  font-size: 17px;
  font-family: helvetica, serif;
  @media (max-width: 550px) {
    font-size: medium;
    left: 60px;
  }
}

.total_price {
  position: relative;
  left: 100px;
  font-size: 17px;
  font-family: helvetica, serif;
  @media (max-width: 550px) {
    font-size: medium;
  }
}
