.container {
  position: fixed;
  display: flex;
  background-color: rgb(240, 240, 240);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.img {
  width: 80vh;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  @media (max-width: 800px) {
    width: 70vh;
  }
  @media (max-width: 670px) {
    width: 60vh;
  }
  @media (max-width: 580px) {
    width: 45vh;
  }
}

.close {
  position: fixed;
  cursor: pointer;
  font-size: 50px;
  margin-left: 93%;
  margin-top: 2%;
}

.close:active {
  transform: scale(0.9);
}

.block {
  margin: 0 auto;
  position: absolute;
  top: 45%;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.left {
  position: relative;
  cursor: pointer;
  font-size: 30px;
  margin-left: 16px;
}

.left:active {
  transform: scale(0.9);
}

.right {
  position: relative;
  cursor: pointer;
  font-size: 30px;
  margin-right: 16px;
}

.right:active {
  transform: scale(0.9);
}
