.root {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  z-index: 1;
}

.container {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  height: 230px;
  width: 450px;
}

.text {
  position: relative;
  text-align: center;
}

.modal_block {
  position: relative;
  justify-content: center;
  text-align: center;
}

.img {
  position: relative;
  border-radius: 15px;
  height: 150px;
  right: 150px;
}

.name {
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  bottom: 135px;
  left: 141px;
}

.size {
  position: relative;
  bottom: 90px;
}

.price {
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  bottom: 70px;
  left: 155px;
}

.button_block {
  position: relative;
  bottom: 60px;
}

.button_back {
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(234, 238, 238);
  cursor: pointer;
  width: 100px;
  margin-right: 150px;
  margin-top: 30px;
}

.button_back:active {
  transform: scale(0.95);
}

.button_cart {
  padding: 5px;
  border-radius: 15px;
  background-color: #c2e254;
  cursor: pointer;
  width: 100px;
}

.button_cart:active {
  transform: scale(0.95);
}
