.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.img {
  position: relative;
  border-radius: 15px;
  height: 100px;
}

.name {
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 30px;
  margin-left: 10px;
}

.size {
  position: relative;
  margin-left: 10px;
  margin-right: 220px;
}

.price {
  position: absolute;
  margin-top: 35px;
  margin-left: 350px;
}

.button {
  position: absolute;
  margin-top: 38px;
  margin-left: 500px;
  cursor: pointer;
}
