.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.img {
  position: relative;
  border-radius: 15px;
  height: 100px;
  @media (max-width: 550px) {
    left: 60px;
    margin-left: 10px;
  }
}

.name {
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 30px;
  margin-left: 10px;
  @media (max-width: 550px) {
    font-size: medium;
    left: 60px;
  }
}

.size {
  position: relative;
  margin-left: 10px;
  margin-right: 270px;
  @media (max-width: 550px) {
    font-size: medium;
    left: 60px;
  }
}

.price {
  position: absolute;
  margin-top: 35px;
  margin-left: 380px;
  @media (max-width: 550px) {
    font-size: medium;
    margin-left: 350px;
    margin-right: 80px;
    margin-top: 60px;
  }
}

.button {
  position: absolute;
  margin-top: 38px;
  margin-left: 500px;
  cursor: pointer;
  @media (max-width: 550px) {
    font-size: small;
    margin-right: 160px;
    margin-top: 61px;
  }
}

.button:active {
  transform: scale(0.95);
}
