.header {
  display: block;
  background-color: rgb(193, 193, 193);
  height: 120px;
}

.logo {
  width: 100px;
  height: 100px;
}

.text {
  position: absolute;
  left: 100px;
  top: 0;
  font-family: Bradley Hand;
  padding-left: 10px;
  padding-top: 40px;
  color: black;
  @media (max-width: 940px) {
    left: 7px;
    top: 40px;
  }
}

.conteiner {
  display: flex;
  background-color: rgb(193, 193, 193);
}

.button {
  position: relative;
  bottom: 65px;
  float: right;
  margin-right: 8px;
  background-color: orange;
  text-align: center;
  border-radius: 20px;
  border: 2px solid orange;
  cursor: pointer;
  padding: 5px;
  width: 120px;
  height: 40px;
}

.cartLogo {
  position: relative;
  top: 3px;
  left: 3px;
  width: 15px;
}
