.sneakersBlock {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  position: relative;
}

.img {
  display: block;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 55%;
}

.name {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.sizes {
  text-align: center;
}

.li {
  padding: 10px;
  display: inline-block;
  background-color: #eeececee;
  border-radius: 35px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  font-size: 10px;
  margin: 3px;
}

.li_active {
  padding: 15px;
  display: inline-block;
  background-color: #eeececee;
  border-radius: 35px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  padding: 12px;
  cursor: pointer;
  background: rgba(254, 95, 30, 0.05);
  font-weight: bold;
  font-size: 10px;
  color: orange;
}

.price {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  font-family: helvetica, serif;
  position: absolute;
  left: 5%;
  top: 80%;
}

.button {
  text-align: center;
  background: #c2e254;
  color: #000000;
  font-size: 15px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
  border-color: #c2e254;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  left: 72%;
  top: 82%;
}

.button:active {
  transform: scale(0.95);
}
